{namespace slick=RZ\Rzslick\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="prevNext" value="{prevArrow: '{f:translate(key: \'prev\')}', nextArrow: '{f:translate(key: \'next\')}'}" />

<v:if stack="{0: imageCount, 1: '>', 2: '1'}">
  <f:then>
    <slick:js settings="{settings}" prevNext="{prevNext}" uid="{uid}" selector="#slick-{uid}" />

    <div id="slick-{uid}">
      <f:for each="{images}" as="image" iteration="itemIteration">
        <div>
          <slick:media.image src="{image.reference.uid}" alt="" treatIdAsReference="1" class="img-responsive" />
        </div>
      </f:for>
    </div>
  </f:then>
  <f:else>
    <div class="rzslick-single">
      <f:for each="{images}" as="image" iteration="itemIteration">
        <slick:media.image src="{image.reference.uid}" alt="" treatIdAsReference="1" class="img-responsive" />
      </f:for>
    </div>
  </f:else>
</v:if>
