.slick-slider {
  margin-bottom: 0;
}

.slick-slide:focus {
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 40px;
}

.slick-dots li button:before {
  font-size: 15px;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 30px;
}
