{namespace slick=RZ\Rzslick\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="flashMessages" value='<f:flashMessages renderMode="div" />' />
<f:format.raw>{flashMessages}</f:format.raw>

<f:if condition="{flashMessages} == ''">
  <v:variable.set name="prevNext" value="{prevArrow: '{f:translate(key: \'prevContent\')}', nextArrow: '{f:translate(key: \'nextContent\')}'}" />

  <slick:js settings="{settings}" prevNext="{prevNext}" uid="{uid}" selector=".slick-content-{uid}" />

  <div class="slick-content-{uid}">
    <f:for each="{items}" as="item">
      <f:if condition="{settings.autoWidth}">
        <f:then>
          <v:variable.set name="itemStyle" value=' style="width: {item.autowidth}px;"' />
        </f:then>
        <f:else>
          <v:variable.set name="itemStyle" value="" />
        </f:else>
      </f:if>

      <div class="item"{f:format.raw(value: itemStyle)}>
        <h3>{item.title}</h3>
        <h4>{item.subtitle}</h4>

        <f:if condition="{item.image}">
          <f:if condition="{item.link}">
            <f:then>
              <slick:typolink configuration="{parameter: item.link}">
                <f:render partial="Image" arguments="{item: item}" />
              </slick:typolink>
            </f:then>
            <f:else>
              <f:render partial="Image" arguments="{item: item}" />
            </f:else>
          </f:if>
        </f:if>

        <f:if condition="{item.description}">
          <div class="description">
            <f:format.html>{item.description}</f:format.html>
          </div>
        </f:if>

        <f:if condition="{item.content}">
          <v:variable.set name="contentElements" value='<slick:toArray string="{item.content}" />' />

          <f:for each="{contentElements}" as="contentElement">
            <slick:content.render uid="{contentElement}" />
          </f:for>
        </f:if>

        <f:if condition="{item.link}">
          <slick:typolink configuration="{parameter: item.link, ATagParams: 'class=\"btn btn-primary\"'}">
            <f:translate key="more" /> <i class="fa fa-angle-right"></i>
          </slick:typolink>
        </f:if>
      </div>
    </f:for>
  </div>
</f:if>
